<%- include('./partials/html-head')%>
  </head>
  <body class="home-page normal-body"> 
    <div class="large-logo"></div>
    <a href="/auth/google" class="google-auth-link"><img src="/pics/googlebutton.png" /></a>
  <%-include('./partials/footer.ejs')%>
