<%- include('./partials/html-head')%>
  </head>
  <body class="home-page"> 
    <img src="/pics/largelogo.png" class="large-logo" />
    <a href="/auth/google" class="google-auth-link"><img src="/pics/googlebutton.png" /></a>
  <%-include('./partials/footer.ejs')%>
