html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border:0;
}


body {
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  border: inherit;
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 10vh repeat(11,1fr);
  grid-template-areas: 
  "nav nav nav nav nav nav nav nav nav nav nav nav"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  ;
  background-color: green;
  justify-content: center;
  align-items: center;
  text-align: center;
}



a {
  color: #00B7FF;
}

nav {
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-rows: 1fr;
  flex-direction: row;
  background-color: greenyellow;
  grid-area: nav !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 100%;
}

.all-jokes-link {
  grid-column: 12 / span 1;
}

.small-logo {
  grid-column: 6 / span 3;
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

.new-jokes-link {
  grid-column: 13 / span 1;
}

.nav-title {
  grid-column: 6 / 9;
}



.joke-list {
  grid-area: page;
}

.show-joke-div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: page;

}

.joke-container {
  margin-top: 5vh;
  background-color: white;
  height: 30vh;
  width: 30vw;
  border-radius: 7px;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas:
    "title title"
    "text text"
    "edit delete"
  ;
}


.joke-title {
  font-size: 2.5rem;
  text-decoration: underline;
  grid-area: title;
}

.joke-text {
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  grid-area:text;
}

.delete-block {
  grid-area:delete;
  display: grid;
  justify-content: left;
  align-self: flex-end;
}

.edit-block {
  grid-area: edit;
  display: grid;
  justify-content: right;
  align-self: flex-end;
}

.joke-container button {
  width: 5vw;
}

.comment-div {
  text-align: left;
  list-style-type: none;
}

.individual-comment-div {
  border: 3px solid black;
  border-radius: 7px;
  margin: 5px;
  height: 10vh;
  background-color: grey;
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "text"
    "author"
    "forms"
  ;

  justify-content: right;
  align-items: center;
}

.edit-comment-form {
  justify-self: right;
}

.comment-forms {
  grid-area: forms;
  justify-content: right;
  text-align: right;
  right: 0;
  background-color: white;
  display: grid;
}

.comment-text {
  grid-area: text;
  align-self: center;
  justify-self: flex-start;
  text-align: center;
}

.comment-author {
  grid-area: author;
  align-self: center;
  text-align: center;
}

.new-joke-div {
  grid-area: page;
  margin: 0 0 20vh 0;
}

.new-joke-div textarea {
  height: 30vh;
  width: 30vw;
}

.login-div {
  grid-area: page;
}

.login-button {
  height: 9vh;
  width: 15vw;
}

.comment-edit-div {
  display: grid;
  grid-area: page;
}

.new-profile-div {
  grid-area: page;
}

.ul-joke {
  list-style-type: none;
  font-size: 2rem;
}

.google-signin-button {
  background-color: white;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 7px;

}

.home-page {
  height: 95vh;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
  "logo"
  "signin"
  ;

  justify-content: center;
  align-items: center;
}

.large-logo {
  grid-area: logo;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.google-auth-link {
  grid-area: signin;

}