html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border:0;
  height: 100%;
  width: 100%;
}


body {
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  border: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows:  repeat(12,1fr);
  grid-template-areas: 
  "nav nav nav nav nav nav nav nav nav nav nav nav"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  "page page page page page page page page page page page page"
  ;
  background-color: green;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.show-joke-page {

 /* min-height: 100vh;
 min-width: 100vw; */
 min-height: min-content;
 min-width: min-content;
}

.normal-body {
  height: 100vh;
  width: 100vw;
}

a {
  color: #00B7FF;
}

nav {
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-rows: 1fr;
  flex-direction: row;
  background-color: greenyellow;
  grid-area: nav !important;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  text-align: center;
  margin: 0;
}

.logout-button {
  grid-column: 1;
  align-self: flex-end;
}

.all-jokes-link {
  grid-column: 12 / span 1;
  align-self: flex-end;
}

.small-logo {
  grid-column: 6 / span 3;
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

.new-jokes-link {
  grid-column: 13 / span 1;
  align-self: flex-end;
}

.nav-title {
  grid-column: 6 / 9;
}



.jokes-section {
  grid-area: page;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
}

.cork-board {
  background-image: url('/pics/school_bullitin_board_1.png');
  background-size: 100% 100%;
  grid-column: 2 / 12;
  grid-row: 2 / 12;
  image-rendering: pixelated;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.show-joke-div {
  /* margin-top: 500px; */
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: flex-start;
  grid-area: page;
}

.joke-container {
  margin-top: 5vh;
  background-color: white;
  height: 30vh;
  width: 30vw;
  border-radius: 7px;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas:
    "title title"
    "text text"
    "edit delete"
  ;
  
}


.joke-title {
  font-size: 2.5rem;
  text-decoration: underline;
  grid-area: title;
}

.joke-text {
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  grid-area:text;
}

.delete-block {
  grid-area:delete;
  display: grid;
  justify-content: left;
  align-self: flex-end;
}

.edit-block {
  grid-area: edit;
  display: grid;
  justify-content: right;
  align-self: flex-end;
}

.joke-container button {
  width: 5vw;
}

.comment-div {
  text-align: left;
  list-style-type: none;
  overflow-y: hidden;
}

.individual-comment-div {
  border: 3px solid black;
  border-radius: 7px;
  margin: 0 0 5px 0;
  height: 10vh;
  background-color: grey;
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "text"
    "author"
    "forms"
  ;

  justify-content: right;
  align-items: center;
}

.edit-comment-form {
  justify-self: right;
}

.comment-forms {
  grid-area: forms;
  justify-content: right;
  text-align: right;
  right: 0;
  background-color: white;
  display: grid;
}

.comment-text {
  grid-area: text;
  align-self: center;
  justify-self: flex-start;
  text-align: center;
}

.comment-author {
  grid-area: author;
  align-self: center;
  text-align: center;
}

.new-joke-div {
  grid-area: page;
  margin: 0 0 20vh 0;
}

.new-joke-div textarea {
  height: 30vh;
  width: 30vw;
}

.login-div {
  grid-area: page;
}

.login-button {
  height: 9vh;
  width: 15vw;
}

.comment-edit-div {
  display: grid;
  grid-area: page;
}

.new-profile-div {
  grid-area: page;
}

.ul-joke {
  list-style-type: none;
  font-size: 2rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.google-signin-button {
  background-color: white;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  border-radius: 7px;

}

.home-page {
  /* max-height: 85vh;
  max-width: 95vw; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 
  "logo"
  "signin"
  ;

  justify-content: center;
  align-items: center;
}

.large-logo {
  grid-area: logo;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url('/pics/largelogo.png');
  background-size: 100% 100%;
  height: 100%;
  width: 80%;
}

.google-auth-link {
  grid-area: signin;
  margin: 0 0 100px 0;

}