<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/jokes/<%=joke._id%>?_method=PUT" method="POST">
    <label for="title">
      Title: 
      <input type="text" name="title" placeholder="type title here..." value="<%=joke.title%>">
    </label>
    <br>
    <br>
    <label for="text">Please type your joke here:</label>
    <br>
    <textarea name="text" placeholder="type joke here...">
      <%=joke.text%>
    </textarea>
    <br>
    <br>
    <button type="submit">submit</button>
  </form>
</body>
</html>