<%- include('../partials/html-head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <form action="/jokes" method="POST">
    <label for="title">
      Title: 
      <input type="text" name="title" placeholder="type title here...">
    </label>
    <br>
    <br>
    <label for="text">Please type your joke here:</label>
    <br>
    <textarea name="text" placeholder="type joke here...">

    </textarea>
    <br>
    <br>
    <button type="submit">submit</button>
  </form>
</body>
</html>